<div class="footer">
    <div class="inner">
        {#        <div class="ensure flex">#}
        {#            <div class="ensure-item">#}
        {#                <span class="sure-icon"><i class="iconfont">&#xe600;</i></span>#}
        {#                <span>正品保证</span>#}
        {#            </div>#}
        {#            <div class="ensure-item">#}
        {#                <span class="sure-icon"><i class="iconfont">&#xe600;</i></span>#}
        {#                <span>七天无理由退换</span>#}
        {#            </div>#}
        {#            <div class="ensure-item">#}
        {#                <span class="sure-icon"><i class="iconfont">&#xe600;</i></span>#}
        {#                <span>保修服务</span>#}
        {#            </div>#}
        {#            <div class="ensure-item">#}
        {#                <span class="sure-icon"><i class="iconfont">&#xe600;</i></span>#}
        {#                <span>统一发票</span>#}
        {#            </div>#}
        {#        </div>#}
        <div class="line"></div>
        <ul class="flex abouts">
            {% for key, link in  global.menus.bottom %}
                <li>
                    <a href="{{ link.link }}">{{ link.title }}</a>
                    {% if key < count(global.menus.bottom) - 1 %}
                        <span>|</span>
                    {% endif %}

                </li>
            {% endfor %}
        </ul>
        <div class="business" style="display:flex;flex-direction: row;align-items: flex-end;justify-content: center;">
            {% if global.setting.advBanner %}
            <p style="display:none;">{{  html2html(global.setting.advBannerText) | raw}}</p>
                <a href="{{  html2html(global.setting.advBannerText) | raw}}" style="margin-right:10px;">
                    <img src="{{ basePath }}/img/marketLogo.png" alt="" style="height:45px;width:32px;">
                </a>
            {% endif %}
            <p>{{ global.setting.copyright ? :'' }}</p>
        </div>
    </div>
</div>
